*{                 /* (comentário) = O * significa que estou querendo todos os elementos da página */
    margin:0;
    padding:0;
    box-sizing: border-box;
}


h2.title{   /* nível de importância maior */ 
    color:blue;
}

h2{
    color:red;  /* não importa o lugar do h2 se for depois do primeiro h2.(class title) o resultado será o mesmo */
}

