*{                 /* (comentário) = O * significa que estou querendo todos os elementos da página */
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@keyframes anim1{

    from{background-color:green;width:400px;}
    to{background-color: red;width:2px;}

}


.teste { /* >  quero que seja diretamente dentro e se estiver dentro de outra div devo especificar  */
    width: 400px;
    height: 400px;
    background-color: green;
    animation-name: anim1;
    animation-duration: 3s; 
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

h2{
    color: red !important; /* Quando é marcado com o nível de importancia prevalece sobre os outros */
}









/*

h2.title{   /* nível de importância maior que (h2) 
    color:green;
}

h2{
    color:red;  /* não importa o lugar do h2 se for depois do primeiro h2.(class title) o resultado será o mesmo 
}
*/