*{                 /* (comentário) = O * significa que estou querendo todos os elementos da página */
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h2{
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: normal;
}

.teste{       /* chamar a class test do html */
    color:red;
}

#teste{
    color: green;
}

.paragrafo{
    font-size: 10px;
}

p.paragrafo{
    font-size: 30px
}

[name]{  /* chamar o atributo do html */
    color: blue;
}

[type=text]{
    width:900px;
}

[type=button]{
    background-color: red;
}









